<div class="container">
  <div class="box">
    <h2>Mensagens</h2>
    <input 
      type="text" 
      [(ngModel)]="message" 
      (keydown.enter)="sendMessage()" 
      placeholder="digite qualquer coisa..." 
      class="inputBx"
    />
    <ul id="list">
      <li *ngFor="let data of messages; let i=index;" [class]="data.isLiked ? 'done': 'undone'" (click)="likedMessage(i)">
        {{ data.text  }} <i *ngIf="data.isLiked" (click)="removeMessage(data)"></i>
      </li>
    </ul>
  </div>
</div>

